.navbar__menu {
  display: flex;
  flex-direction: row;
  height: 113px;
  align-items: center;
  border-bottom: 2px solid lightgray;
}
.menu-logo {
  margin-right: auto;
  margin: 32px;
}
.menu-login {
  margin-left: auto;
  margin-right: 32px;
}
@media (width <= 30em) {
  .navbar__menu {
    height: 81px;
    justify-content: space-between;
  }
  .menu-logo,
  .menu-login {
    margin: 0;
    padding: 10px;
  }
  h1,
  p {
    display: none;
  }
}
