.search {
  display: inline-block;
  position: relative;
  margin: 10px 0;
}
.search input {
  width: 207px;
  height: 32px;
  border-radius: 5px;
  position: relative;
  border: 1px solid gray;
}
.search__icon {
  position: absolute;
  right: 10px;
  top: 12px;
}
